@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 10px;
  }
}

.container {
  grid-template-columns: 1fr;
  grid-template-rows: 50px calc(100vh - 50px);
}

.header {
  display: flex;
  background-color:#344f7a;
  color: #fff;

  grid-template-columns:1fr;
  padding: 1em;
}


/* title of the application related */
.title {
  width: 65%;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-title {
  font-weight: 700;
}

input[type=text] {
  padding: 1.9em;
  font-size: 0.7em;
  letter-spacing: 1px;  
}


/* Error message in the Login screen */
.error-message {
  font-size: 0.7em;
  background-color: rgba(255, 0, 0, 0.1);
  padding: 1em;
  color: #bf5555;
  max-height: 33px;
  border-left: solid 2px;
  border-radius: 2px;
}

/* Hero component related */
.hero-div {
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0, 0, 0,0.5)), url(http://localhost:3000/images/hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: grid;

	/* height: calc(100vh - 50px); */
	align-items: end;
  justify-items: center;
  position: relative;
}

.find-title {
  color: #fff;
  font-size: 2em;
  position: absolute;
  bottom: 63px;
  font-weight: 300;
}

/* Search bar related */
.btn {
  background-color:#344f7a;
  color: #fff;
  padding: 1.3em;
  letter-spacing: 2px;
  border-radius: 2px;
  border: solid 1px#344f7a;
  font-size: 0.7em;
}
.search-bar {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 1em;
  position: relative;
}

.search-btn {
  text-transform: uppercase;
  display: inline-block;
  margin-left: 1em;
}

.search-btn:hover {
  cursor: pointer;
}

.search-box {
  background-color: #ccc;
  border: solid 1px #ccc;
  border-radius: 3px;
}

.search-box:hover {
  cursor: pointer;
}

.search-icon {
  color: #605e5e;
  position: absolute;
  left: 3px;
  align-self: center;
}

.search-box:focus {
  background-color: #fff;
}

.search-box:focus .search-icon {
  color:black;
}


/* Listing of all the restaurants */
.content-div {
  display: grid;
  grid-template-rows: 50px calc(100vh - 100px);
  background-color: #fff2ff;
  overflow-y: hidden;
}

.content-div-search-bar {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 5px;
}

.restaurants-list {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* background-color: #fff2ff; */
  padding: 1em;
  grid-gap: 0.9em;
  margin-right: 5%;
  margin-left: 5%;
  /* height: calc(100vh - 50px); */
}


.all-restaurants {
  /* display: grid; */
  /* grid-template-columns: 1fr; */
  overflow-y: auto;
}
.meals-info {
  width: 55%;
  float: left;
  margin: 5px;
}

.rest-info{
  border: solid 2px #eee;
  border-radius: 5px;
  margin: 5px;
}
.order-info {
margin: 5px;
  float: right;
    width: 42%;
height: 550px;
    border: solid 2px #eee;
  border-radius: 5px;
}
.menu-title{
  font-weight: 700;
  color:#344f7a;
  font-size: 1.5em;
  margin-left: 10%;
}
.rest-title{
  font-weight: 700;
  color:#344f7a;
  font-size: 1.5em;
}
.order-title{
  font-weight: 700;
  color:#344f7a;
  font-size: 1.5em;
  padding-left: 57.5%
}
.meal-info-admin {
  margin: 0 5%;
  border: solid 2px #eee;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 5px;
  background-color: #fff;
}
.meal-info {
  margin-left: 10%;
  border: solid 2px #eee;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 5px;
  background-color: #fff;
}
.restaurant-info {
  border: solid 2px #eee;
  border-radius: 5px;
  padding: 1em;
  margin: 5px 0px;
  background-color: #fff;
}

.name-rest {
 
  grid-gap: 10px;
  border-bottom: solid 1px #ddd;
  padding: 1em;
  position: relative;
}
.name-address {
  display: grid;
  grid-template-columns: 100px 3fr;
  grid-gap: 10px;
  border-bottom: solid 1px #ddd;
  padding: 1em;
  position: relative;
}

.details {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
  /*border-bottom: solid 1px #ddd;*/
  padding: 1em;
}

.logo {
  width: 100px;
  /*height: 200px;*/
  border: 1px solid #ddd;
  border-radius: 2px;
}

.restaurant-name {
  font-weight: 700;
  color:#344f7a;
  font-size: 1.5em;
}

.restaurant-locality {
  font-weight: 700;
  font-size: 1em;
  text-transform: capitalize;
}

.underline-div:hover {
  text-decoration: underline;
  cursor: pointer;
}

.details-title {
  text-transform: uppercase;
  font-size: 0.7em;
  color: #939393;
}

.restaurant-address {
  color: #988686;
  font-size: 0.8em;
}

.restaurant-rating {
  position: absolute;
  top: 0;
  right: 0;
  /* background-color: #fbc3fb; */
  padding: 0.6em;
  border-radius: 3px;
  background: linear-gradient(#344f7a, #7195d3);
  color: #fff;
  font-weight: bold;
}
.btn-info{
  background: linear-gradient(#344f7a, #7195d3) !important;
}
.details-description {
  text-transform: capitalize;
  font-size: 0.7em;
}


a {
  text-decoration: none;
}

.view-details-div {
  text-transform: uppercase;
  color: #fff;
  background-color:#344f7a;
  padding: 1em;
  text-align: center;
}

.view-details-div:hover {
  cursor: pointer;
  color: #ddd;
}

/* Filter Restaurant related */
.filter-restaurants {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #fff;
  border: solid 1px #ddd;
  border-radius: 5px;
  overflow-y: auto;
}

.filter-info {
  text-transform: capitalize;
  padding: 1em;
}

.filter-name {
  font-size: 1em;
}

.filter-title {
  text-transform: capitalize;
}

.item-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0.4em;
  font-size: 0.8em;
  cursor: pointer;
}

.item-count {
  color: #939393;
}

/* both active item have same color and font */
.active-item, .active-item-sort {
  color:#344f7a;
  font-weight: bold;
}

.active-item:hover {
  text-decoration: line-through;
}


/* Loading image related */
.loading-div {
  display: grid;
  color:#344f7a;
  font-size: 4em;
  align-items: center;
  justify-items: center;
}

.loading-gif {
  width: 100px;
}

/* hide div related */
.hide-div {
  display: none;
}

/* Each restaurant info related */
.restaurant-details {
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: relative;
}

.restaurant-photo {
  border-radius: 5px;
  border: solid 1px #ddd;
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(http://localhost:3000/images/hero.jpg);
  background-size: cover;
  margin-bottom: 8px;
}

.restaurant-name-description {
  color: #fff;
}


.restaurant-description {
  display: grid;
  text-transform: capitalize;
  grid-template-columns: 1fr 1fr;

  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #ddd;
}

.category-title{
  font-size: 1.2em;
}

.category-description {
  font-size: 0.7em;
  color: #999;
}

.category-div {
  padding: 1em;
}

/* back arrow in the each restaurant details */
.back-arrow {
  color: #fff;
  padding: 0.7em;
}

/* no results div */
.no-restaurant-div {
  align-self: center;
  justify-self: center;
}

/* scroll bar related */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
}


/* media queries */
@media screen and (max-width: 500px) {

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px calc(100vh - 30px);
  }

  .content-div {
    display: grid;
    grid-template-rows: 50px calc(100vh - 100px) 20px;
    background-color: #fff2ff;
    overflow-y: hidden;
  }

  .restaurants-list { 
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .category-div {
    padding: 1.2em;
  }
.btn-back{
  position: absolute!important;
  display: flex!important;
  margin-left: -5%!important;
}
  .footer {
    background-color: #fff;
    align-self: end;
    padding: 1em;
    align-items: center;
    justify-items: center;
    display: grid;
    text-transform: uppercase;
    position: relative;
  }

  .filter-panel {
    position: absolute;
    bottom: 31px;
    z-index: 2;
    width: 100%;
    /* height: calc(100vh - 62px); */
  }
  .sign-in{
/* width: 25%; */
flex: 1;
  }
  .sign-in-field{
   margin: 2.5px
      }
}